@import "./utils/variables.scss";
@import "./font-awesome/scss/font-awesome.scss";
@import "./utils/responsive.scss";
@import "./utils/function.scss";
@import "./include/display.scss";

.accordion {
    &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $black;

        span {
            font-size: 25px;
        }

        @include md {
            display: block;
            padding: {
                bottom: 15px;
            }

            h2 {
                display: inline;
            }

            span {
                margin-left: 10px;
            }
        }
    }

    &--content {
        margin-top: 20px;
    }
}