doctype html
html(lang="en")
    include ./mixins/mixins.pug

    head 
        include ./include/head.pug

    body
        main
            section.section__wrapper--title
                h1 Scribble App Learn React
                p 
                    | This simple app is about how i progress learn react from zero to hero including all my practical session, notes 
                    | and how i code the basic react example
                button.see-notes--button(type="button" name="See notes" aria-label="See notes")
                    span See notes
                    span.fa.fa-arrow-right
            .notes__wrapper#notes__section
                +react-app-examples 
              
        script(src="./script/include/jquery.min.js")
        script(src="https://unpkg.com/react@18/umd/react.development.js" defer)
        script(src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" defer)
        script(src="https://unpkg.com/@babel/standalone/babel.min.js" defer)              

    include ./include/script.pug
