$desktop: 1024px;
$tablet: 768px;
$mobile: 360px;

$black : #000000;
$white-grey: #f2f2f2;
$white : #ffffff;
$dark-red : #b30000;
$display-panel : #005c99;
$display-active : #ff8533;

// Gradient theme
$gradient-darkblue: #051937;
$gradient-blue : #005076;
$gradient-darkgreen : #008d9a;
$gradient-green : #00ca97;
$gradient-limegreen: #bfff80;

// Gradient theme 2
$gradient-white: #ffffff;
$gradient-lesspink: #faf5fd;
$gradient-mediumpink: #f9eaf8;
$gradient-highpink: #fbdfef;
$gradient-sakura: #ffd3e1;

// RGB theme
$purple: #a972cb;
$magenta: #ef6eae; 
$pink: #ff7f82; 
$orange: #ffa260; 
$yellow: #e4cb58;
$olive: #8fc866; 
$green: #19bc8b;

.red {
    color: $dark-red;
}