style. 
    .clickable {
        cursor: pointer;
        text-decoration: underline;
    }
    
    .clickable:hover {
        color: red;
    }
#root2
script(type="text/babel").
    const container = document.getElementById('root2');
    const root = ReactDOM.createRoot(container);
    root.render(
        <>
            <h1>This is how you create multiple elements within 1 render function in react</h1>
            <h2>learn react 🚀</h2>
            <img src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="react logo"></img>
            <p className="clickable" onClick={e => {alert('ok i will never give up!')}}>never give up</p>
        </>
    );